{template "content","header"}
<!--main-->
<div class="main">
    <div class="gt1"></div>    
    <div class="gt2 hidd">
    	<!-- 奔驰 车型-->
        <div class="gt-cx">
            <!-- 循环固定车型 四个 -->
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连中升之星汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">奔驰（进口）、北京奔驰</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">西部通道与西南路交汇处 大连沙河口区河曲街20号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连中星汽车有限公司</div>
         		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">奔驰,北京奔驰</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">辽宁省大连市甘井子区华北路508号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连中升汇驰汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">奔驰,福建奔驰</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连市甘井子区虹港路560号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连利星汽车销售有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td>
                      <td width="65%">北京奔驰</td>
                  </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连市中山路中山南路201号</div></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 丰田 车型-->
        <div class="gt-cx2">
            <!-- 循环固定车型 四个 -->
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连中升丰田汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">一汽丰田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连市甘井子区华北路759号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连裕德丰田汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">一汽丰田,丰田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连甘井子山东路80-1号（促进路北行）</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">广汽丰田中升虹港路店</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">广汽丰田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">辽宁省大连市甘井子区虹港路560号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">连中升汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%">广汽丰田</td>
            		</tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">辽宁省大连市甘井子区虹港路560号</div></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 大众 车型-->
        <div class="gt-cx2">
            <!-- 循环固定车型 四个 -->
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连大昌合众汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">大众</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连保税区黄海西三路101号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连庞大华通汽车贸易有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%">上海大众</td>
            		</tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连保税区4S店集群（格林小镇东行1000米右转）</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连通孚祥汽车贸易有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">一汽-大众</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连市沙河口区联合路185号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连万海汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">上海大众</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">辽宁省大连市甘井子区华北路769号</div></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 本田 车型-->
        <div class="gt-cx2">
            <!-- 循环固定车型 四个 -->
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连中升东本汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">东风本田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连市甘井子区华北路697号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连奥通东本汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">东风本田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">大连市甘井子区虹港路560号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">广汽本田中升宏达特约销售服务店</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">广汽本田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td><div style="height:35px; overflow:hidden;">辽宁省大连市甘井子区山东路82号</div></td>
                    </tr>
                </table>
            </div>
            <div class="gt3 hidd lf">
                <div class="gt4 fb hidd" style="height:20px;">大连嘉和润诚汽车销售服务有限公司</div>
          		<table width="100%" border="0">
                    <tr>
                        <td width="35%">主营品牌：</td><td width="65%"><div style="height:20px; overflow:hidden;">东风本田</div></td>
                    </tr>
                    <tr>
                        <td valign="top">公司地址：</td><td>大连市甘井子区怡宁路45号（山东路汽车街东侧）</td>
            		</tr>
                </table>
            </div>
        </div> 
    </div>
    <div class="bk15"></div>
    <!-- 经销商列表 开始 -->
    <div class="bor-hui lf" style="width:978px;">
        	<!-- 循环打印 经销商 开始 -->
            {pc:get sql="SELECT catid FROM v9_category WHERE parentid = '14'" return="data0" num="6"}
            {loop $data0 $r0}            
            {pc:get sql="SELECT catid FROM v9_category WHERE parentid = '$r0[catid]' and catname ='基本信息'" return="data2"}
                {loop $data2 $r2}
                    {pc:get sql="SELECT a.thumb,a.url,a.title,b.daili,b.zycx,b.tel,b.kouhao1,b.kouhao2 FROM `v9_jxs_jibenxinxi` as a left join `v9_jxs_jibenxinxi_data` as b on a.id=b.id WHERE a.catid='$r2[catid]'" return="data3"}
                    {/pc}
                {/loop}
            {/pc}            			
        	<div class="ct7-1 lf hidd">
            	<!-- 左边 -->
            	<div class="ct7-3 lf hidd">
                    <div class="ct7-2 lf bor-hui hidd">
                        <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid={$r0[catid]}" target="_blank">
                        <img src="{$data3[0]['thumb']}" class="ct7-4 hidd lf">
                        </a>
                        <div class="ct7-5 fb f14 lf hidd">
                            <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid={$r0[catid]}" target="_blank">{$data3[0]['title']}</a>
                        </div>
                        <div class="ct7-6 lf hidd">
                            电话：{$data3[0]['tel']}
                        </div>
                    </div>
                    <div class="bk10"></div>
                	<div class="ct7-7 bor-hui2 hidd">
                    {pc:get sql="SELECT catid FROM v9_category WHERE parentid = '$r0[catid]' and catname ='推荐车型'" return="data6"}
                    {loop $data6 $r6}
                        {pc:content action="position" posid="2" catid="$r6['catid']" order="listorder DESC" num="1" return="data7"}
                        {loop $data7 $r7}
                    	<a href="{$r7[url]}" target="_blank"><img src="{$r7[thumb]}" class="ct7-8 hidd"></a>
                     	{/loop}
                        {/pc}
                    {/loop}
                    {/pc}
                        <div class="ct7-9 text-c fb f14">
                    		{$data3[0]['kouhao1']}
                    	</div>
                        <div class="ct7-10 fb text-c f16 white">
                    		{$data3[0]['kouhao2']}
                    	</div>
                    </div>                    
                </div> 
                <!-- 右边 -->
            	<div class="ct7-11 bor-hui rt hidd">
                    {pc:get sql="SELECT catid FROM v9_category WHERE parentid = '$r0[catid]' and catname ='店内动态'" return="data4"}            
                    {loop $data4 $r4}
                        {pc:content action="position" posid="2" catid="$r4['catid']" order="listorder DESC" num="1" return="data5"}
                        {loop $data5 $r5}
                            <h5 class="text-c"><a href="{$r5[url]}" {title_style($r5[style])}>{$r5['title']}</a></h5> 
                        {/loop}
                        {/pc}
                    {/loop}
                    {/pc}
                    {pc:get sql="SELECT catid FROM v9_category WHERE parentid = '$r0[catid]' and catname ='店内动态'" return="data4"}            
                    {loop $data4 $r4}
                        {pc:content action="position" posid="17" catid="$r4['catid']" order="listorder DESC" num="3" return="data5"}
                        {loop $data5 $r5}
                            <span class="ct7-12 f12 hidd"><a href="{$r5[url]}" {title_style($r5[style])}>{$r5['title']}</a></span>
                        {/loop}
                        {/pc}
                    {/loop}
                    {/pc}
                    <!-- 小车型 -->
                    {pc:get sql="SELECT catid FROM v9_category WHERE parentid = '$r0[catid]' and catname ='推荐车型'" return="data6"}
                    {loop $data6 $r6}
                        {pc:content action="position" posid="17" catid="$r6['catid']" order="listorder DESC" num="2" return="data7"}
                        {loop $data7 $r7}
                            <div class="ct7-13 lf hidd">
                                <a href="{$r7[url]}" target="_blank"><img src="{$r7[thumb]}" class="ct7-14 hidd bor-hui"></a>
                                <div class="ct7-15 hidd" >车型:{$r7['chexing']}</div>
                                <div class="ct7-15 hidd">报价:{$r7['changjiazhidaojia']}</div>
                            </div>
                        {/loop}
                        {/pc}
                    {/loop}
                    {/pc}
                    <div class="bk10"></div>
                    <div class="ct7-15 hidd">代理品牌：{$data3[0]['daili']}</div>
                    <div class="ct7-15 hidd">主营车型：{$data3[0]['zycx']}</div>
                    <div class="ct7-15 hidd">联系电话：{$data3[0]['tel']}</div>
                </div>               
            </div>
            {/loop}
            {/pc}
            <!-- 循环打印 经销商 结束 -->
        <div class="bk30"></div>            
    </div>
    <!-- 经销商列表 结束 -->
</div>
<script type="text/javascript">
function ChannelSlide(Name,Class){
	$(Name+' ul.photo li').sGallery({
		titleObj:Name+' div.title p',
		thumbObj:Name+' .thumb li',
		thumbNowClass:Class
	});
}
new ChannelSlide(".channel-slide","on",311,260);
</script>
{template "content","footer"}